#grid { 
    display: grid; 
    grid-template-columns: repeat(4, 242.5px); 
    grid-template-rows: repeat(5, 124px); 
    gap: 10px; 
} 

#grid div { 
    background-color: green; 
    color: white; 
    border: 1px solid black; 
    text-align: left; 
    font-size: 25px; 
    padding-left: 4px; 
} 

.one { 
    grid-column: span 4;
} 

.two { 
    grid-row: span 4;
} 

.four { 
    grid-column: span 2;
} 

.five { 
    grid-column: span 2;
} 


.ten { 
    grid-column: span 3;
}